//-
  options.
    color :
      darker
      dark    
      medium 
      light   
      lighter 
      purple  
      green   


mixin type(options)
  if !options
    - options = {}

  -
    let colorClass = '';
    let fontClass = '';
    let descClass = '';
    colorClass = options.color ? 'type__color_' + options.color : '';
    fontClass = options.font ? 'type__font_' + options.font : '';
    descClass = options.font ? 'type__description_' + options.font : '';
  .type
    if options.color
      .type__color(class = colorClass)
      .type__content
        h2.type__title=options.title
        p.type__text=options.text
    else
      if(options.font == 'Body')
        span.type__font(class = fontClass)=options.font
        span.type__description(class = descClass)=options.description
          block
      else
        #{options.font}.type__font(class = fontClass)=options.font
        span.type__description(class = descClass)=options.description
          block